#pac-box {
    width: 50%;
    margin: 10px 10px 0 0;
    height: 30px;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    font-family: Roboto, Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    padding: 8px;
    border-radius: 2px;
    border: none;
    border-bottom: 1px solid grey;
    background-clip: padding-box;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    .controls {
        width: 90%;
        height: 100%;
        border: none;
        outline: none;
        color: rgb(86, 86, 86);
        font-size: 13px;
        direction: ltr;
    }
    .search-icon {
        float: right;
        transform: scale(1.5);
        color: rgb(117, 117, 117);
        padding-top: 2px;
        z-index: 20;
    }
}